p {
  color: white;
}

/* section 2 */
.bn-img {
  filter: #3b3939; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  opacity: 95%;
  width: 650px;
}
.btn-lm {
  padding: 0.7rem 3rem;
}
.btn-primary,
.btn-outline {
  border: 2px solid #4012cb;
}
.cnt {
  margin-top: 9rem;
}
figcaption {
  justify-content: right;
  text-align: right;
  align-content: right;
  align-items: right;
  text-align: right;
}
@media (min-width: 1400px) {
  .btn-lm {
    align-content: flex-start;
  }
}

@media (max-width: 1400px) {
  .cnt {
    margin-left: 5rem;
  }
}
@media (max-width: 768px) {
  .cnt {
    margin-top: 9rem;
    display: none;
  }
}
@media (max-width: 1310px) {
  .bn-img {
    width: min-content;
  }
}
@media (max-width: 1032px) {
  /* .cnt {
    display: none;
  } */
  .bn-img {
    width: min-content;
  }
  .fnt-a {
    font-size: 3rem;
    justify-content: center;
  }
  .cnt {
    margin-left: 2rem;
  }
}
@media (max-width: 967px) {
  .cnt {
    display: none;
  }
  .figc1 {
    display: none;
  }
}

/* 2 section */
/* .banner {
  position: relative;
  background: url(../images/web23.jpg);
  min-height: 100vh;

  background-size: cover;
  background-position: left;
  filter: #3b3939; /* IE6-9  
  -webkit-filter: grayscale(1);  
  filter: grayscale(1);  
  opacity: 95%;
} */
/* .navbar-nav .nav-link.active:hover {
  color: #4012cb;
}
.ftclr {
  color: white;
  margin-top: 15rem;
} */

@media (min-width: 576px) {
  .ftclr {
    margin-left: 30%;
  }
  .prpl {
    margin-right: 6rem;
  }
}

@media (min-width: 992px) {
  .bantext {
    margin-left: 20rem;
  }
  .prpl {
    margin-right: 6rem;
  }
}

/* 3section after banner work */
#footer {
  background: #4012cb;
  padding-top: 8em;
  padding-bottom: 8em;
}
.footer-list {
  color: #fff;
  text-decoration: none;
}
.widget-title {
  color: #fff;
  font-weight: bold;
  padding-left: 83%;
  justify-items: start;
}
li.dropdown {
  list-style: none;
}
a.manufont {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 775px) {
  .footer-wcon {
    margin-left: 7rem;
  }
  .widget-title {
    margin-right: 7rem;
  }
}
@media (min-width: 768px) {
  .banner {
    background-size: 2000px;
  }
}

/* 4th section */
@media (max-width: 768px) {
  .btn-seminar {
    font-size: 12px;
  }
}

/* 5th section */
.sec3 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.salespitch {
  height: auto;
  background-color: #4012cb;
  padding-top: 3em;
  padding-bottom: 7em;
  margin-top: 6rem;
}
.sec4txt {
  color: #fff;
}
.forthb {
  margin-top: 7rem;
}
@media (max-width: 992px) {
  .forthb {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .forthb {
    font-size: 2rem;
  }
}

.lrn {
  color: #fff !important;
}
/*   section */
.secv {
  max-width: 100%;
}

/* text on image */
img {
  background: url("../images/web23.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.maintxt > img,
.txt-hn {
  position: absolute;
}
.txt-hn {
  padding-bottom: 4rem;
  margin-left: 6em;
}
.opc {
  filter: #3b3939; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  opacity: 95%;
}
/* --------------------------------- */
/* section 5 raw code */
/* .opc-txt {
  margin-top: 8rem;
} */
/* @media (min-width: 576px) {
  .txt-hn {
    margin-top: 6em;
    margin-left: 8em;
  }
}
@media (max-width: 992px) {
  .txt-hn {
    margin-top: 6em;
    margin-left: 5em;
  }
}
@media (max-width: 768px) {
  .txt-hn {
    margin-top: 5em;
    margin-left: 5em;
  }
}
@media (max-width: 669px) {
  .txt-hn {
    margin-top: 3em;
    margin-left: 5em;
    font-size: 2.2rem;
  }
} */
/* ------------------------ */

.crd-l {
  margin-top: 5em;
  float: right;
}
@media (max-width: 768px) {
  .crd-l {
    font-size: 2.5rem;
  }
}
@media (min-width: 740px) {
  .crd-l {
    margin-bottom: 6rem;
  }
}
@media (max-width: 576px) {
  .crd-l {
    font-size: 1.5rem;
    margin-left: 9rem;
  }
}
