:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #914ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
  --color-submit: #4012cb;
}

body {
  background-color: #f7f0e8;
}
p {
  color: white;
}

/* section 2 */
.bn-img {
  filter: #3b3939; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  opacity: 95%;
  width: 650px;
}
.btn-lm {
  padding: 0.7rem 3rem;
}
.btn-primary,
.btn-outline {
  border: 2px solid #4012cb;
}
.cnt {
  margin-top: 9rem;
}
figcaption {
  justify-content: right;
  text-align: right;
  align-content: right;
  align-items: right;
  text-align: right;
}
@media (min-width: 1400px) {
  .btn-lm {
    align-content: flex-start;
  }
}

@media (max-width: 1400px) {
  .cnt {
    margin-left: 5rem;
  }
}

@media (max-width: 768px) {
  .cnt {
    margin-top: 9rem;
    display: none;
  }
}
@media (max-width: 1310px) {
  .bn-img {
    width: min-content;
  }
}
@media (max-width: 1032px) {
  /* .cnt {
    display: none;
  } */
  .bn-img {
    width: min-content;
  }
  .fnt-a {
    font-size: 3rem;
    justify-content: center;
  }
  .cnt {
    margin-left: 2rem;
  }
}
@media (max-width: 967px) {
  .cnt {
    font-size: 1rem;
    margin-left: 7rem;
  }
  .fnt-a {
    font-size: 2.5rem;
  }
  .figc1 {
    display: none;
  }
}

/* 2 section */

@media (min-width: 576px) {
  .ftclr {
    margin-left: 30%;
  }
  .prpl {
    margin-right: 6rem;
  }
}

@media (min-width: 992px) {
  .bantext {
    margin-left: 20rem;
  }
  .prpl {
    margin-right: 6rem;
  }
}

/* 3section after banner work */
#footer {
  background: #4012cb;
  padding-top: 8em;
  padding-bottom: 8em;
}
.footer-list {
  color: #fff;
  text-decoration: none;
}
.widget-title {
  color: #fff;
  font-weight: bold;
  padding-left: 83%;
  justify-items: start;
}
li.dropdown {
  list-style: none;
}
a.manufont {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 775px) {
  .footer-wcon {
    margin-left: 7rem;
  }
  .widget-title {
    margin-right: 7rem;
  }
}
@media (min-width: 768px) {
  .banner {
    background-size: 2000px;
  }
}

/* 4th section */
@media (max-width: 768px) {
  .btn-seminar {
    font-size: 12px;
  }
}

/* 5th section */
.sec3 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.salespitch {
  height: auto;
  background-color: #4012cb;
  padding-top: 3em;
  padding-bottom: 7em;
  margin-top: 6rem;
}
.sec4txt {
  color: #fff;
}
.forthb {
  margin-top: 7rem;
}

@media (max-width: 992px) {
  .forthb {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .forthb {
    font-size: 2rem;
  }
}

.lrn {
  color: #fff !important;
}
/*   section */
.secv {
  max-width: 100%;
}

/* text on image */
img {
  background: url("../images/web23.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.maintxt > img,
.txt-hn {
  position: absolute;
}
.txt-hn {
  padding-bottom: 4rem;
  margin-left: 6em;
}
.opc {
  filter: #3b3939; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  opacity: 95%;
}

.crd-l {
  margin-top: 5em;
  float: right;
}
@media (max-width: 768px) {
  .crd-l {
    font-size: 2.5rem;
  }
}
@media (min-width: 740px) {
  .crd-l {
    margin-bottom: 6rem;
  }
}
@media (max-width: 576px) {
  .crd-l {
    font-size: 1.5rem;
    margin-left: 9rem;
  }
}
/* 
6th section  owl carousel*/

@media (max-width: 768px) {
}

/* 7th section */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.sb-t {
  margin-top: 7rem;
}
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}
.block__header {
  text-align: center;
  margin-bottom: 4rem;
}
.block-domain .input-group {
  box-shadow: 0 0 7px #c4c7c8;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}
.input {
  padding-inline-start: 1.5rem 3.5rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  outline: 0;
  color: var(--color-heading);
  font-size: 2rem;
}
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}
.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}
.input-group .btn {
  margin: 4px;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

.bttn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.bttn--accent {
  background: var(--color-submit);
  color: #fff;
}
.bttn--accent:hover {
  background: #4012cb;
}
@media screen and (min-width: 1024px) {
  .bttn {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 568px) {
  .bttn {
    height: 2rem;
    font-size: 1.5rem;

    font-weight: bold;
  }
}
/* 8th section */
.blockquote-xiii {
  padding-top: 4rem;
}
@media screen and (max-width: 568px) {
  .contnt {
    font-size: 1rem;
  }
}

/* 9th section */
.sdr {
  padding-top: 9rem;
}

/* 10th section */
.faqs {
  height: auto;
  /* background-color: #4012cb; */
  padding-top: 3em;
  padding-bottom: 7em;
  margin-top: 6rem;
}
.sec10txt-1 {
  color: #4012cb;
  font-size: 6rem;
}
.sec10txt-2 {
  color: #4012cb;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.sec10txt-3 {
  color: black;
}
.sec10txt-4 {
  color: black;
}
.forthb {
  margin-top: 7rem;
}
.fq-img {
  margin-top: 11rem;
}
.aln-lf {
  margin-left: 3rem;
}
.lrn-active {
  background-color: black !important;
}
@media screen and (max-width: 568px) {
  .sec10txt-1 {
    margin-left: 6rem;
  }
  .sec10txt-2 {
    font-size: 1.2rem;
    padding-right: 1rem;
  }
  .aln-lf {
    margin-left: 1rem;
  }
  .fq-img {
    margin-top: 2rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .sec10txt-3 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  .sec10txt-2 {
    padding-right: 17em;
  }
  .faqs {
    padding-left: 2rem;
  }
  .lrn-active {
    width: 20%;
  }
}

/* 11th section */
.footer-txt {
  color: #fff;
}
.ft-h {
  display: flex;
  justify-content: center;
  color: #fff;
}
.ft-h2 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 5rem;
}

.strp-icn {
  margin-left: 4rem;
}
@media screen and (max-width: 568px) {
  .ft-h2 {
    padding-left: 5.5rem;
  }
  .ft-h {
    padding-right: 2rem;
  }
}
.ft-icn {
  color: #c4c7c8;
  padding-left: 11em;
}
@media screen and (max-width: 568px) {
  .ft-icn {
    padding-left: 6em;
  }
}
@media screen and (max-width: 782px) {
  .ft-icn {
    padding-left: 8em;
  }
}
@media screen and (min-width: 1400px) {
  .ft-icn {
    padding-left: 16em;
  }
}
